/DIO_Trilha_Java_Basico/nbproject/private/
/DIO_Trilha_Java_Basico/build/
/Controle_de_Fluxo-Desafio/ControleDeFluxo_Desafio/nbproject/private/
/Controle_de_Fluxo-Desafio/ControleDeFluxo_Desafio/build/
/POO-Desafio/POO-Desafio/nbproject/private/
/POO-Desafio/POO-Desafio/build/
/Conhecendo_Collections_Java/List/CarrinhoDeCompras/nbproject/private/
/Conhecendo_Collections_Java/List/CarrinhoDeCompras/build/
/Conhecendo_Collections_Java/Set/SetDeTarefas/nbproject/private/
/Conhecendo_Collections_Java/Set/SetDeTarefas/build/
/Conhecendo_Collections_Java/Map/Livraria/nbproject/private/
/Conhecendo_Collections_Java/Map/Livraria/build/
/Ganhando_Produtividade_com_Stream_API/Desafio/DesafioStreamAPI/nbproject/private/
/Ganhando_Produtividade_com_Stream_API/Desafio/DesafioStreamAPI/build/
